.loisir{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $border;
  border: 1px solid $modal;
  border-radius: 10px;
  width: 60%;
  height: 15vh;
  cursor: pointer;
  .content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }
  h2 {
    color: $secondary-foreground;
    font-size: 1.3rem;
    list-style: none;
    padding: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  p {
    color: $foreground;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px;
    padding-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: fit-content;
  }
}
@media only screen and (max-width: 775px) {
  .loisir{
    width: 80%;
    p{
      font-size: 1rem;
    }
    svg{
      height: 4rem;
    }
  }
}