.header__nav{
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
  li{
    color:$accent-foreground;
    font-size: 1rem;
    list-style: none;
    width: fit-content;
    padding: 5px 20px;
    border: 2px solid $accent-foreground;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    &:hover{
      border: 2px solid $primary;
      color: $secondary;
      background-color: $primary;
    }
  }
}