.header__nav{
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
  li{
    color: white;
    list-style: none;
    width: fit-content;
    padding: 5px 20px;
    border: 2px solid white;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    &:hover{
      border: 2px solid black;
      color: white;
      background-color: black;
    }
  }
}