.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  margin-left: 20px;
  .home__infos {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40vh;
    .infos__logo {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 60%;
      gap: 20px;
      h1 {
        color: $foreground;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 3rem;
      }
      p {
        color: $secondary-foreground;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2.5rem;
      }
      img {
        height: 40px;
        margin-left: 20px;
      }
    }
    .container__photo__kyra {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 40%;
      .photoKyra {
        height: 60%;
        object-fit: cover;
        border-radius: 50%;
        transition: all 0.4s;
        cursor: pointer;
        &:hover {
          transform: rotate(1turn) scale(1.2);
          background-color: $secondary;
        }
      }
    }
  }
  .home__social {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    width: 100%;
    .social {
      display: flex;
      flex-wrap: wrap;
      height: 50%;
      width: 100%;
      svg {
        cursor: pointer;
        transition: all 0.4s;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    button {
      width: fit-content;
      margin-left: 20px;
      padding: 5px 15px;
      border: 2px solid $accent-foreground;
      color: $accent-foreground;
      list-style: none;
      font-size: 36px;
      background-color: $background;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.4s;
      &:hover {
        background-color: $primary;
        border: 2px solid $primary;
        transform: translateX(50px);
        color: $secondary;
      }
    }
  }
}

/*Media Queries Mobile*/
@media only screen and (max-width: 775px) {
  .home {
    height: 90vh;
    margin: 0;
    .home__infos {
      flex-direction: column;
      width: 100%;
      height: 40vh;
      .infos__logo {
        width: 100%;
        height: 20vh;
        margin-left: 20px;
        h1 {
          font-size: 24px;
        }
        p {
          font-size: 24px;
          img{
            display: none;
          }
        }
      }
      .container__photo__kyra {
        justify-content: center;
        height: 20vh;
        width: 100%;
      }
    }
    .home__social{
      gap: 60px;
      .social {
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }
      button{
        margin: 0;
      }
    }
  }
}
