footer{
  display: flex;
  gap: 20px;
  width: 100%;
  p{
    color: $accent-foreground;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  a{
    text-decoration: none;
    color: $accent-foreground;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    &:hover{
      color: $primary;
    }
  }
}
/*Media Queries Mobile*/
@media only screen and (max-width: 775px) {
  footer{
    p{
      text-align: center;
    }
  }
}